#nav{
    position: fixed;
    bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around; 
}

.shortcut{text-align: center;}

.navImg img{width: 10%;}
.navTag img{width: 45%;}

.navTag{opacity: 0.1;}
.navImg:hover{opacity: 0.5;}
.navImg:hover + .navTag{opacity: 1;}