#nav{
    position: fixed;
    bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around; 
}

.shortcut{text-align: center;}

.navImg img{width: 10%;}
.hide img{width: 45%;}

.navImg:hover{opacity: 0.5;}


/* 도대체 왜 안될까 ㅎㅎ */
.hide{display: none;}
.navImg:hover + .hide{display: block;}
/* .navImg:hover + .hide{display: block;} */