.toggle{
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section{
    padding-top: 20px;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px;
}
.downloadBtn{
    padding: 5px 20px;
    margin: 20px 0px;
}
.footer{
    margin-top: 60px;
}


/* .toggle.toggle01{

}
.toggle.toggle02{
    margin-top: 20px;
    margin-bottom: 50px;
} */
/* .toggleBtn{
    margin-left: 40%;
    margin-right: 40%;
} */


/* .section_02{
    padding: 20px 10px 120px 20px;
} */
/* #section02{
    padding: 20px 10px 80px 10px;
}
#section03{
    padding: 0px 10px 80px 10px;
}

.section_03{
    padding: 0px 10px 80px 10px;
} */